* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Merriweather sans", serif;
  text-align: center;
}
.box {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.hero {
  height: 100vh;
  background-color: hsl(36, 43%, 93%);
  gap: 30px;
}
.hero h1 {
  font-size: 5rem;
  font-family: "Sacramento", cursive;
  font-weight: bold;
}
.hero p {
  font-size: 2rem;
  font-family: "Montserrat";
}
.my-bio {
  /* padding: 50px; */
  gap: 20px;
  text-align: center;
}
.my-bio img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 30px;
}
.my-bio h2 {
  font-family: "Sacramento", cursive;
  font-weight: bold;
  font-size: 2.5rem;
}
.my-bio p {
  width: 50%;
  margin: auto;
  font-size: 1rem;
}
.bg-colour {
  background-color: hsl(42, 34%, 100%);
}
/* Image styling */
.hover-img {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease; /* smooth fade */
}

/* Text styling */
.just-me {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%); /* start hidden below */
  font-size: 3rem;
  font-size: bolder;
  color: hsl(213, 42%, 20%);
  opacity: 0;
  transition: all 0.5s ease;
}

/* Hover effects */
.col:hover .hover-img {
  opacity: 0.2; /* dim image on hover */
}

.col:hover .just-me {
  transform: translate(-50%, -50%); /* move text to center */
  opacity: 1; /* fade text in */
}

.my-skills img {
  width: 300px;
  height: 200px;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contacts h2 {
  font-weight: bold;
  color: #6d94c5;
}
.contacts h3 {
  color: hsl(213, 43%, 30%);
}
.contacts p {
  width: 50%;
  /* margin: 40px auto 60px; */
}
hr {
  border: 6px dotted black;
  width: 2%;
  margin: 50px auto;
  border-bottom: none;
}
footer {
  display: flex;
  gap: 20px;
  padding: 100px 0;
  flex-direction: column;
  background-color: #6d94c5;
}
footer ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style: none;
}
footer ul li {
  font-size: 1.5rem;
}
/* #eaf6f6 */
